<html>
    <body>
    <div>
        <h3>{{Name}}</h3>
    <form>
        <div class="form-group">
            <label>Username : </label>
            <input type="text" name="username" class="form-control" style="width: 300px; padding:auto;"/>
        </div>
        <div class="form-group">
            <label>Password : </label>
            <input type="password" name="password" class="form-control" style="width:300px; padding:auto;"/>
        </div>
        <div class="form-group">
            <label>Name: </label>
            <input type="text" name="name" class="form-control" style="width: 300px; padding:auto;"/>
        </div>
        <div class="form-group">
            <label>Mail Id : </label>
            <input type="text" name="username" class="form-control" style="width: 300px; padding:auto;"/>
        </div><br>
        <div>
        <button type="submit" class="btn btn-danger">Register</button>
        </div>
    </form>
    <a href="/login" style="font-size:small;">already register, login here</a>
    </div>

    </body>
</html>